ul {
    display:flex;
border: 2px solid black;
color:white;
background-color:black;
flex-direction: column;


}  

li {
font-size: 1rem;
margin: 5%;
padding: 20px 200px;

}

#todolist {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
justify-self: center;
align-self: end;


}

#todocol {
    display:flex;
    flex-direction: column;
    
    align-items: center;
background-color: aliceblue;


}